/*Colors*/
$white: #ffffff
$black: #000000

$tablet: 768px
$desktop: 1024px

// Vertical Rhythm
$ms-base: 1em
$ms-ratio: $golden

$mobileHeaderHeight: 3.75em
$desktopHeaderHeight: 5.3125em
$btnHeight: 3.15em
